<!--<div class="dui-hero">-->
<!--  <div class="dui-hero-content p-10 bg-gradient-to-l from-base-100 to-base-200 rounded-2xl visible flex-col lg:flex-row shadow-2xl">-->
<!--    <div class="ml-4">-->
<!--      <header class="ml-4 flex flex-row gap-12">-->
<!--        <div class="drop-shadow-2xl">-->
<%#= image_tag("photo-bwl.jpeg", alt: "tamu logo", class: "dui-mask dui-mask-circle border-2 rounded-full w-40") %>
<!--        </div>-->
<!--        <h2 class="text-7xl font-semibold drop-shadow-xl my-auto">Braeden William Luera</h2>-->
<!--      </header>-->
<!--      <div class="dui-divider mt-0 opacity-50"></div>-->
<!--      <p class="font-light text-xl px-5">Welcome to my portfolio. I'm Braeden Luera, an aspiring software engineer.-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="dui-hero">
  <div class="dui-hero-content px-4 py-6 w-[1000px] bg-gradient-to-l from-base-100 to-base-200 rounded-2xl visible flex-col lg:flex-row shadow-2xl">
    <div class="ml-4 flex flex-row gap-6">
      <div class="drop-shadow-2xl my-auto">
        <%= image_tag("photo-bwl.jpeg", alt: "tamu logo", class: "dui-mask dui-mask-circle border-2 rounded-full w-72") %>
      </div>
      <p class="font-light text-xl px-5 w-5/6 my-auto text-center">I'm
        <strong>Braeden William Luera</strong>, a young,
        aspiring software engineer. From a young age, I've been interested in computers and programming. I
        started with using Java as a pre-teen, which further progressed my interest into high school. At the moment, I'm
        working towards
        my bachelor's degree; estimated completion is mid-2024.
      </p>

    </div>
  </div>
</div>