<div class="dui-hero min-h-screen mt-4">
  <div class="dui-hero-content p-10 bg-gradient-to-r from-base-200 to-base-100 rounded-2xl flex-col lg:flex-row shadow-2xl">
    <%= image_tag("logo-cobalt.png", alt: "cobalt logo", class: "max-w-sm drop-shadow-2xl") %>
    <div class="my-auto ml-4 flex flex-col justify-center align-middle">
      <header class="ml-4 flex flex-col">
        <div class="dui-stack justify-center mb-3 text-7xl text-center font-semibold">
          <h2 class="drop-shadow-xl">
            <span class="dui-tooltip dui-tooltip-info z-20" data-tip="Software Engineering">SWE</span> Intern</h2>
          <h2 class="drop-shadow-xl blur-sm text-base-200">SWE Intern</h2>
        </div>
        <div class="flex flex-col gap-2 justify-around mx-14 mb-4 font-light">
          <div class="flex flex-row content-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"/>
              <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z"/>
            </svg>
            <h3 class="text-xl">
              Google LLC</h3>
          </div>
          <div class="flex flex-row content-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd"/>
            </svg>
            <h4 class="text-xl">May 2023 - August 2023</h4>
          </div>
        </div>
      </header>
      <div class="font-mono text-center mx-12 mb-2 py-2 text-lg">
        <div class="dui-divider mt-0 opacity-50"></div>
        <p class="p-1">Designed a system that reduced tech debt incurred by Web Platform Tests for the
          Youtube team's Cobalt project.
        </p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Customized individual integration tests for Cobalt using the new system.
        </p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Used techniques such as monkey patching and polyfills to avoid modifying
          third-party
          code.
        </p>
        <div class="dui-divider opacity-50"></div>
      </div>

      <footer class="ml-4 flex flex-row justify-center gap-3 font-light">
        <span class="dui-badge dui-badge-lg dui-badge-neutral">Python</span>
        <span class="dui-badge dui-badge-lg dui-badge-warning">JavaScript</span>
      </footer>
    </div>
  </div>
</div>

<div class="dui-divider"></div>

<div class="dui-hero min-h-screen">
  <div class="dui-hero-content p-10 bg-gradient-to-r from-base-100 to-base-200 rounded-2xl flex-col lg:flex-row-reverse shadow-2xl">
    <%= image_tag("logo-tf.png", alt: "tensorflow logo", class: "w-96 drop-shadow-2xl") %>
    <div class="ml-4">
      <header class="flex flex-col">
        <div class="dui-stack justify-center mb-3 text-7xl font-semibold">
          <h2 class="drop-shadow-xl">
            <span class="dui-tooltip dui-tooltip-accent z-20" data-tip="Student Training in Engineering Program">STEP</span>
            Intern</h2>
          <h2 class="blur-sm drop-shadow-xl text-base-200">STEP Intern</h2>
        </div>
        <div class="flex flex-col gap-2 justify-around mx-14 mb-4 font-light">
          <div class="flex flex-row content-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"/>
              <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z"/>
            </svg>
            <h3 class="text-xl">
              Google LLC
            </h3>
          </div>
          <div class="flex flex-row content-center justify-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd"/>
            </svg>
            <h4 class="text-xl">May 2022 - Aug 2022</h4>
          </div>
        </div>
      </header>
      <div class="font-mono text-center mx-12 mb-2 py-2 text-lg">
        <div class="dui-divider mt-0 opacity-50"></div>
        <p class="p-1">Co-developed an alternate internal version of the TensorFlow Extended (TFX) Tuner
          component.
        </p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Designed and implemented a prototype for a design that allowed for easier user
          migration to the next version of TFX.
        </p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Modified internal component execution for the trainer and tuner pipeline components.</p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Built and tested machine learning pipelines.</p>
        <div class="dui-divider opacity-50"></div>
      </div>
      <footer class="ml-4 flex flex-row justify-center gap-3 font-light">
        <span class="dui-badge dui-badge-lg dui-badge-neutral">Python</span>
      </footer>
    </div>
  </div>
</div>

<div class="dui-divider"></div>

<div class="dui-hero min-h-screen">
  <div class="dui-hero-content p-10 bg-gradient-to-l from-base-100 to-base-200 rounded-2xl visible flex-col lg:flex-row shadow-2xl">
    <%= image_tag("logo-tamu-cropped.svg", alt: "tamu logo", class: "hidden dark:inline w-96 drop-shadow-2xl") %>
    <%= image_tag("logo-tamu-maroon.svg", alt: "tamu logo", class: "w-96 drop-shadow-2xl dark:hidden") %>
    <div class="ml-4">
      <header class="ml-4 flex flex-col">
        <div class="dui-stack justify-center mb-3 text-7xl font-semibold">
          <h2 class="drop-shadow-xl">Student Assistant</h2>
          <h2 class="drop-shadow-xl blur-sm text-base-200">Student Assistant</h2>
        </div>
        <div class="flex flex-col gap-2 justify-between mx-14 mb-4 font-light">
          <div class="flex flex-row content-center justify-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M7.5 5.25a3 3 0 013-3h3a3 3 0 013 3v.205c.933.085 1.857.197 2.774.334 1.454.218 2.476 1.483 2.476 2.917v3.033c0 1.211-.734 2.352-1.936 2.752A24.726 24.726 0 0112 15.75c-2.73 0-5.357-.442-7.814-1.259-1.202-.4-1.936-1.541-1.936-2.752V8.706c0-1.434 1.022-2.7 2.476-2.917A48.814 48.814 0 017.5 5.455V5.25zm7.5 0v.09a49.488 49.488 0 00-6 0v-.09a1.5 1.5 0 011.5-1.5h3a1.5 1.5 0 011.5 1.5zm-3 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"/>
              <path d="M3 18.4v-2.796a4.3 4.3 0 00.713.31A26.226 26.226 0 0012 17.25c2.892 0 5.68-.468 8.287-1.335.252-.084.49-.189.713-.311V18.4c0 1.452-1.047 2.728-2.523 2.923-2.12.282-4.282.427-6.477.427a49.19 49.19 0 01-6.477-.427C4.047 21.128 3 19.852 3 18.4z"/>
            </svg>
            <h3 class="text-xl tracking-wide">
              Texas A&amp;M University

            </h3>
          </div>
          <div class="flex flex-row content-center justify-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z" clip-rule="evenodd"/>
            </svg>
            <h4 class="text-xl tracking-wide">
              September 2021 - December 2021
            </h4>
          </div>
        </div>
      </header>
      <div class="font-mono text-center mx-12 mb-2 py-2 text-lg">
        <div class="dui-divider mt-0 opacity-50"></div>
        <p class="p-1">Assisted students of an engineering computation course in their understanding of using
          Python to solve engineering problems.
        </p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Served in a capacity of technical support for 100+ students.
        </p>
        <div class="dui-divider opacity-50"></div>
        <p class="p-1">Provided assistance with queries regarding Python and programming fundamentals.</p>
        <div class="dui-divider opacity-50"></div>
      </div>
      <footer class="ml-4 flex flex-row justify-center gap-3 font-light">
        <span class="dui-badge dui-badge-lg dui-badge-neutral">Python</span>
      </footer>
    </div>
  </div>
</div>