<div class="grid grid-cols-3 mx-auto gap-20 mt-10">
  <div class="dui-card w-96 bg-base-200 shadow-xl">
    <!--    <figure><%#= image_tag("preview-portfolio.png", alt: "tamu logo", class: "drop-shadow-2xl") %></figure>-->
    <div class="dui-card-body bg-gradient-to-l from-base-100 to-base-200 rounded-2xl">
      <header class="dui-card-title ml-4 flex flex-col">
        <div class="dui-stack justify-center mb-3 text-2xl font-semibold">
          <h2 class="drop-shadow-xl">Portfolio Website</h2>
          <h2 class="drop-shadow-xl blur-sm text-base-200">Portfolio Website</h2>
        </div>
      </header>
      <p class="text-center text-lg mb-4 font-light">The exact website you are visiting.</p>
      <a class="dui-btn dui-btn-neutral px-4 flex flex-row justify-center mx-auto mb-4" href="https://github.com/bwluera/portfolio-site" target="_blank">
        <%= image_tag("logo-github-white.svg", alt: "Github logo", class: "w-6") %>
        <p class="font-light">View Repo</p>
      </a>
      <div class="dui-card-actions justify-center">
        <div class="dui-badge dui-badge-lg dui-badge-ghost">Ruby on Rails</div>
        <div class="dui-badge dui-badge-lg dui-badge-ghost">Tailwind CSS</div>
      </div>
    </div>
  </div>

  <div class="dui-card w-96 bg-base-200 shadow-xl">
    <div class="dui-card-body bg-gradient-to-l from-base-100 to-base-200 rounded-2xl">
      <header class="dui-card-title ml-4 flex flex-col">
        <div class="dui-stack justify-center mb-3 text-2xl font-semibold">
          <h2 class="drop-shadow-xl">Zonk</h2>
          <h2 class="drop-shadow-xl blur-sm text-base-200">Zonk</h2>
        </div>
      </header>
      <p class="text-center text-lg mb-3 font-light">A YouTube bot for Discord.</p>
      <a class="dui-btn dui-btn-neutral px-4 flex flex-row justify-center mx-auto mb-4" href="https://github.com/bwluera/zonk-bot" target="_blank">
        <%= image_tag("logo-github-white.svg", alt: "Github logo", class: "w-6") %>
        <p class="font-light">View Repo</p>
      </a>
      <div class="dui-card-actions justify-center">
        <div class="dui-badge dui-badge-lg dui-badge-ghost ">Python</div>
      </div>
    </div>
  </div>
</div>